* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* variables / */

:root {
    --primary-color: rgb(109, 221, 178);
    --secondary-color: rgb(125, 219, 217);
    --other-color: rgb(245, 122, 122);
}

.flex {
    display: flex;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

/* header and nav start */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: var(--primary-color);
    background-attachment: fixed;
    z-index: 9999;
}

header h1 {
    display: flex;
    flex-wrap: wrap;
    /* width: 50%; */
    /* padding: 20px; */
    background-color: var(--primary-color);
}
header h1 a {
    color: black;
    background-color: var(--secondary-color);
    padding: 5px 5px 5px 10px;
    border-radius: 15px;
}

header nav {
    margin: 5px 0;
}

.flex-across {
    display: flex;
    flex-wrap: wrap;
    justify-items: space-between;
    align-items: center;
}

.flex-across li {
    margin: 15px;
}

.flex-across a {
    color: var(--secondary-color);
}

/* header and nav end */

 /* hero start */

 .hero {
    background-image: url(../assets/images/code-hero.jpg) ;
     display: flex;
     height: 400px;
     position: relative;
     background-size: cover;
     background-position: center;
 }

 .hero h2 {
     position: absolute;
     bottom: 40px;
     right: 60px;
     font-weight: bold;
     font-size: 48px;
     color: var(--secondary-color);
     background-color: var(--primary-color);
     padding: 5px;
     border-radius: 15px;
 }
 /* hero end */

 /* title heading */
.nav-titles {
    display: flex;
    text-align: end;
    margin: 15px;
    border-right: 5px solid black;
}
/* end */

/* about me start*/
.bio {
    display: flex;
    margin: 20px;
}

h3 {
    padding: 20px;
    width: 150px;
}

.profile-pic {
    width: 250px;
    height: 200px;
    margin: 20px;
    object-fit: cover;
    border-radius: 75px;
}

.bio-text {
    padding: 20px;
    font-size: 24px;
}

/* about me end */
/* projects start */

.projects {
    display: flex;
    margin: 10px;
}

.main-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.run-buddy a img{
    display: flex;
    justify-content: center;
    height: 40vh;
    width: 60vw;
    padding: 20px; 
    background-size: cover;
}

.side-project a img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    /* height: 20vh;
    width: 30vw; */
}

.main-project {
    display: flex;
    flex-wrap: wrap;
}

.run-buddy a {
    position: relative;
}

.project-title {
    z-index: 9995;
    margin: 25px 0 0 25px;
    position: absolute; 
    background-color: rgba(255, 186, 8); 
    font-size: 35px; border: 5 solid black; 
    border-radius: 0 15px; 
}
/* project end */


/* contact section start */

.contact-info {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

/* contact section end */


/* psuedo */
header nav ul li a:hover {
    background-color: var(--other-color);
    padding: 5px;
    border: 2.5px solid black;
    border-radius: 15px;
}
/* psuedo */

/* media queries */

@media screen and (max-width: 768px) {
    .my-bio {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .side-project {
        flex-wrap: wrap;
        flex-direction: column;
        height: 300px;
        width: 400px;
        padding: 5px;
    }
}