* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* variables / */

:root {
    --primary-color: rgb(109, 221, 178);
    --secondary-color: rgb(144, 125, 219);
    --other-color: rgb(245, 122, 122);
}

.flex {
    display: flex;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* header and nav start */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: var(--primary-color);
    background-attachment: fixed;
    z-index: 9999;
}

header h1 {
    display: flex;
    flex-wrap: wrap;
    /* width: 50%; */
    /* padding: 20px; */
    background-color: var(--primary-color);
}
header h1 a {
    color: black;
    background-color: var(--secondary-color);
    padding: 5px 5px 5px 20px;
}

header nav {
    margin: 5px 0;
}

.flex-across {
    display: flex;
    flex-wrap: wrap;
    justify-items: space-between;
    align-items: center;
}

.flex-across li {
    margin: 15px;
}

.flex-across a {
    color: var(--secondary-color);
}

/* header and nav end */

 /* hero start */

 .hero {
    background-image: url(../assets/images/code-hero.jpg) ;
     display: flex;
     height: 400px;
     position: relative;
     background-size: cover;
     background-position: center;
 }

 .hero h2 {
     position: absolute;
     bottom: 40px;
     right: 60px;
     font-weight: bold;
     font-size: 48px;
     color: var(--secondary-color);
     background-color: var(--primary-color);
     padding: 5px;
 }
 /* hero end */

 /* title heading */
.nav-titles {
    display: flex;
    text-align: end;
    margin: 15px;
    border-right: 5px solid black;
}
/* end */

/* about me start*/
.bio {
    display: flex;
    margin: 20px;
}

h3 {
    padding: 20px;
    width: 150px;
}

.profile-pic {
    width: 250px;
    height: 200px;
    margin: 20px;
    object-fit: cover;
}

.bio-text {
    padding: 20px;
    font-size: 24px;
}

/* about me end */
/* projects start */

.projects {
    display: flex;
    margin: 20px;
}

.main-project img {
    height: 200px;
    width: 350px;
    padding: 20px; 
}
/* project end */


/* contact section start */

.contact-info {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

/* contact section end */

/* border: 5px solid color */
/* border right: 5px solid color  */

/* media queries */

/* width 100% to header h1 a */